@using Cardonia.Model;
@using Cardonia.Model.Cards;
@using Cardonia.Frontend.Components;
@using Cardonia.Model.Table

@namespace Cardonia.Frontend.Components

<div class="parent">

    <InputRadioGroup @bind-Value="Selected" Name="@Name" @bind-Value:after="test">
    @for (int i = 0; i < 5; i++)
    {
            <InputRadio Value="i" />
        
        <CardComponent Card="At(i)" />
    }
    </InputRadioGroup>
    
</div>

<style>
    .parent {
        border: 1px solid black;
        margin: 1rem;
        padding: 2rem 2rem;
        text-align: center;
    }
</style>

@code {
    [Parameter]
    [EditorRequired]
    public required IEnumerable<(int pos, Card card)> PlayerTable { get; set; }

    [Parameter]
    public string Name { get; set; } = "";

    [Parameter]
    public EventCallback<int> SelectedCard { get; set; }

    public int Selected { get; set; }

    private Card? At(int pos)
    {
        return PlayerTable.Where(b => b.pos == pos).Select(b => b.card).FirstOrDefault();
    }

    private void test()
    {
        SelectedCard.InvokeAsync(Selected);
    }
}
